h1, h2, p{
    color: #ffff;
}
.card h1{
    font-size: 23px;
    font-weight: 800;
    margin-top: -0.1rem;
}
h2{
    font-size: 17px;
    font-weight: 700;
    margin-bottom: -0.5rem;
}
p{
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 1.8rem;
    color: #F6F1EE;
    opacity: 80%;
}
.edicao_foto{
    margin-top: -3.7rem;
}
.card{
    background: #01616C;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    padding: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 3rem;
}