<section id="dados">
    <div class="card">
        <h1 class="flex justify-content-start">Dados Médicos</h1>

        <div class="edicao_foto flex justify-content-end">
            <div
                class="border-circle w-2rem h-2rem m-2 surface-200 flex align-items-center justify-content-center ml-4">
                <i class="pi pi-pencil" style="font-size: 1rem; color: black"></i>
            </div>
        </div>

        <h2>Tipo Sanguíneo</h2>
        <p>AB+</p>
        <h2>Especificação Médica</h2>
        <p>Osteoporose</p>
        <h2>Estado do Paciente</h2>
        <p>Evolução constante</p>
        <h2>Altura</h2>
        <p>1.70m</p>
    </div>
</section>
