.botao{
    margin-bottom: 0.3rem;
    margin-top: 2rem;
}

.cadastrar{
    margin-bottom: 1.5rem;
}
.cadastrar h1{
    color: #f97316;
    font-size: 18px;
    font-weight: 700;
    margin-top: 0.8rem;
}
.cadastrar h2{
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 400;
}
