    <section id="section-navbar">
        <div class="navbar border-round-top-3xl flex mt-4">
            <div (click)="hoverMedidas(element)" routerLink="/medidas" class="medida flex align-items-start flex flex-column">
                <img  class="balanca" src="{{ path }}">
                <h6 class="med_medida">Medidas</h6>
            </div>
            <div (click)="hoverUser(element)" routerLink="/paciente" class="conta flex align-items-end  flex flex-column">
                <div >
                    <i  #element class="pi pi-user" style="font-size: 3.5rem"></i>
                    <h6 class="med_user">Usuário</h6>
                </div>
            </div>

        </div>
    </section>
    