    <section id="section-navbar">
        <div class="navbar border-round-top-3xl flex mt-4">
            <div class="medida flex align-items-start flex flex-column">
                <img class="balanca" src="/assets/imagens/balancas.png">
                <h6 class="med_medida">Medidas</h6>
            </div>
            <div class="conta flex align-items-end  flex flex-column">
                <i class="pi pi-user" style="font-size: 3.5rem; color:#F5841C"></i>
                <h6 class="med_user">Usuário</h6>
            </div>

        </div>
    </section>
    