.balanca{
    width: 22%;
    margin-left: 5rem;
    margin-top: 0.7rem;
}
.med_medida{
    margin-left: 4.4rem;
    margin-top: 0.7rem;
    margin-bottom: 0;
}
.navbar{
    background: #D9D9D9;
    display: flex;
    align-items: center;
    padding: 0.1rem;
}
.conta i{
    min-width: 20%;
    margin-right: 4.5rem;
    margin-top: 0.6rem;
}

h6{
    font-size: 16px;
}
.med_user{
    margin-right: 4.4rem;
    margin-top: 0.6rem;
    margin-bottom: 0;
}