#conta{
    .nome_paciente{
        font-size: 16px;
        color: #F6F1EE;
        margin-top: -2.1rem;
        margin-left: 3.7rem;
    }
}
#peso{
    h1{
        font-size: 56px;
        color: #ffff;
        justify-content: center;
        align-items: center;
        display: flex;
        margin-top: 3.5rem;
    }
}
#imc{
    .container{
        background: #01616C;
        border-radius: 20px;
        height: 23rem;
    }
    .slider{
        width: 80%;
        justify-content: center;
        margin-left: 2.5rem;
    }
    
    h1{
        color: #FFFFFF;
        font-weight: 900;
    }
    .bola_vermelha{
        background: #FF2E53;
    }
    
    .bola_amarela{
        background: #FFD702;
    }
    
    .bola_verde{
        background: #55FE32;
    }
    
    .bola_azul{
        background: #22B2B2;
    }
    
    .estados{
        margin-left: -5.5rem;
        font-weight: 900;
    }
    .estados2{
        margin-left: -8rem;
        font-weight: 900;
        color: #55FE32;
    }
    
    .grid_estados h1{
        margin-top: 4rem;
        font-size: 45px;
    }
    
    .grid_estados h3{
        font-size: 18px;
        font-weight: 500;
    }
    
    
    
}
#grafico{
    .container{
        background: #01616C;
        border-radius: 20px;
    
    }
    .graficos{
        scale: 100%;
        }
    
}   