<section id="user">
  <div class="container">
    <div class="edicao_foto flex justify-content-end mr-5 pt-2">
      <div class="border-circle w-2rem h-2rem m-2 surface-200 flex align-items-center justify-content-center ml-1">
        <i class="pi pi-pencil" style="font-size: 1rem; color: black"></i>
      </div>
    </div>
    <div class="centro flex align-items-center justify-content-center mx-8 mb-5">
      <div class="border-circle w-8rem h-8rem m-2 surface-200 flex align-items-center justify-content-center">
        <i class="pi pi-user" style="font-size: 4rem; color: black"></i>
      </div>
    </div>
  </div>
</section>