<section id="imc">
  <div class="container mt-5 mx-3">
    <h1 class="titulo flex justify-content-center pt-2">IMC</h1>

    <div class="slider mb-3">
      <p-slider [(ngModel)]="value" class="slider2"></p-slider>
    </div>

    <!-- legenda de bolas -->

    <div class="grid w-full text-white">
      <!-- bolinha vermelha -->
      <div class="col">
        <div class="flex justify-content-center align-items-center">
          <div
            class="bola_vermelha border-circle w-2rem h-2rem m-2 justify-content-center align-items-center"
          ></div>
          <span> 00 a 17 </span>
        </div>
        <!-- bolinha amarela -->
        <div class="flex justify-content-center align-items-center">
          <div
            class="bola_amarela border-circle w-2rem h-2rem m-2 justify-content-center align-items-center"
          ></div>
          <span>25 a 29</span>
        </div>
      </div>

      <div class="col">
        <!-- bolinha verde -->
        <div class="flex justify-content-center align-items-center">
          <div
            class="bola_verde border-circle w-2rem h-2rem m-2 justify-content-center align-items-center"
          ></div>
          <span>18 a 24</span>
        </div>
        <!-- bolinha azul -->
        <div class="flex justify-content-center align-items-center">
          <div
            class="bola_azul border-circle w-2rem h-2rem m-2 justify-content-center align-items-center"
          ></div>
          <span>30 a 39</span>
        </div>
      </div>
    </div>

    <div class=" grid_estados grid w-full text-white mt-1">
      <div class="col flex justify-content-center">
        <div class="flex justify-content-center">
          <h3>Seu IMC é de</h3>
          <h1 class="estados flex justify-content-center align-items-end">20</h1>
        </div>
      </div>

      <div class="col justify-content-center">
        <div class="flex justify-content-center">
          <h3>Seu estado é</h3>
          <h1 class="estados2 flex justify-content-center align-items-end">Normal</h1>
        </div>
      </div>
    </div>
  </div>
</section>
