.container{
    background: #01616C;
    border-radius: 20px;
}
.bola_vermelha{
    background: #FF2E53;
}

.bola_amarela{
    background: #FFD702;
}

.bola_verde{
    background: #55FE32;
}

.bola_azul{
    background: #22B2B2;
}