 <section id="imc">
  <div
    class="container flex justify-content-center align-items-center mt-5 mx-3"
  >
    <h1 class="titulo flex align-items-start justify-content-start">IMC</h1> -->
    <!-- Sliderrrrr -->

     <div class="p-grid p-justify-center"> 
      <!-- bolinha vermelha -->

 <div class="p-col-12">
          <div class="p-col-6 flex justify-content-center align-items-center">
            <div
              class="bola_vermelha border-circle w-2rem h-2rem m-2 justify-content-center align-items-center"
            ></div>
          </div> 
          <!-- bolinha amarela -->
         <div class="p-col-6 flex justify-content-center align-items-center">
            <div
              class="bola_amarela border-circle w-2rem h-2rem m-2 justify-content-center align-items-center"
            ></div>
          </div> 
          <!-- bolinha verde -->
          <div class="p-col-6 flex justify-content-center align-items-center">
            <div
              class="bola_verde border-circle w-2rem h-2rem m-2 justify-content-center align-items-center"
            ></div>
          </div> 
          <!-- bolinha azul -->
        <div class="p-col-6 flex justify-content-center align-items-center">
            <div
              class="bola_azul border-circle w-2rem h-2rem m-2 justify-content-center align-items-center"
            ></div>
      </div>
      </div>
    </div>
  </div>
</section>
