<section id="pessoais">
    <div class="card">
        <h1 class="flex justify-content-start">Informações Pessoais</h1>

        <div class="edicao_foto flex justify-content-end">
            <div
                class="border-circle w-2rem h-2rem m-2 surface-200 flex align-items-center justify-content-center ml-4">
                <i class="pi pi-pencil" style="font-size: 1rem; color: black"></i>
            </div>
        </div>

        <h2>Nome</h2>
        <p>João Victor Santos Pereira</p>
        <h2>Idade</h2>
        <p>17 anos</p>
        <h2>Identificador </h2>
        <p>035.252.641-60</p>
    </div>
</section>