<section id="pessoais">
    <button (click)="verifyEl()"> aaaaaa</button>
    <div class="card">
        <h1 class="flex justify-content-start">Informações Pessoais</h1>

        <div class="edicao_foto flex justify-content-end">
            <div
                routerLink="/cadastro"
                class="border-circle w-2rem h-2rem m-2 surface-200 flex align-items-center justify-content-center ml-4">
                <i class="pi pi-pencil" style="font-size: 1rem; color: black"></i>
            </div>
        </div>

        <h2>Nome</h2>
        <p> {{ paciente.nome }} </p>
        <h2>Idade</h2>
        <p>17 anos</p>
        <h2>Identificador </h2>
        <p> {{ paciente.cpf }} </p>
    </div>

    <div class="card">
        <h1 class="flex justify-content-start">Dados Médicos</h1>

        <div class="edicao_foto flex justify-content-end">
            <div
                routerLink="/cadastro"
                class="border-circle w-2rem h-2rem m-2 surface-200 flex align-items-center justify-content-center ml-4">
                <i class="pi pi-pencil" style="font-size: 1rem; color: black"></i>
            </div>
        </div>

        <h2>Tipo Sanguíneo</h2>
        <p> {{ paciente.tipo_Sangue }} </p>
        <h2>Especificação Médica</h2>
        <p> {{ paciente.Especificacao }} </p>
        <h2>Estado do Paciente</h2>
        <p>{{ paciente.Estado }}</p>
        <h2>Altura</h2>
        <p>{{ paciente.Altura }}cm</p>
    </div>
</section>