.container{
    background: #01616C;
    border-radius: 20px;
}
.titulo{
    font-size: 25px;
    font-weight: 600;
    color: #F6F1EE;
    font-family: 'Poppins';
    justify-content: center;
}
th{
    background: none;
    color: #F6F1EE;
}