<section class="historico_imc">
    <div class="container mt-6 mx-3 p-0">

     <div class="text-center m-0 flex justify-content-center">
         <div>
            <h1>IMC e Peso</h1>
         </div> 
     </div>
       <!-- <p-card header="IMC" class=" card text-center" >
            <div class="m-0 flex align-items-center justify-content-center ">
                <p>Data</p>
                <p-divider layout="vertical"></p-divider>
                Indice
                <p-divider layout="vertical"></p-divider>
                Estado
        </div>
        </p-card>  -->

        <div class="contab">
            <div class="tabela p-3 mb-3">
                <p-table [value]="products" styleClass="text-center ">
                    <ng-template pTemplate="header">
                        <tr>
                            <th>Data</th>
                            <th>Indice</th>
                            <th>Peso</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-product>
                        <tr>
                            <td>{{ product.Data }}</td>
                            <td>{{ product.Indice }}</td>
                            <td>{{ product.Peso }}</td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>
    </div>
</section>
