section{
    height: 28.2rem;
}


.container{
    background: #01616C;
    border-radius: 20px;
}
.container h1{
    font-size: 25px;
    font-weight: 600;
    color: #F6F1EE;
    font-family: 'Poppins';
    justify-content: center;
    
}
.card{
    background: #01616C;
}
.tabela{
    margin-left: auto;
    margin-top: 3rem;
    justify-content: center;
}
.contab{
    margin-top: -5rem;
    padding-bottom: 0.3rem;
}
th{ 
    text-align: center;
    background: none;
    color: #F6F1EE;
}
