<section class="acont justify-content-end">
    <div class=" edicao_foto flex justify-content-end">
        <div class="flex align-items-start justify-content-center mx-1 mt-1">
            <div class="border-circle w-2rem h-2rem m-2 surface-200 flex align-items-center justify-content-center">
            <i class="pi pi-user" routerLink="/paciente" style="font-size: 1.2rem; color: black"></i>
            </div>
        </div>
      </div>
    <h3 class="nome_paciente flex justify-content-end align-items-start">João Victor</h3>
</section>
