.container{
    background: #01616C;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    padding: 1rem;
    padding-top: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 3rem;
}

label{
    font-size: 18px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    color: #ffff;
    margin-bottom: 1rem;
}